<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Some website</title>
</head>
<body>
  {{> header}}
  <p>Here you'll see the list of my projects
  </p>
  {{> footer}}
</body>
</html>
